[Unit]
Description={{ jenkins_swarm_task_name }}
After=network.target
[Service]
Type=simple
User={{jenkins_user}}
Group={{jenkins_group}}
PIDFile=/var/run/{{ jenkins_swarm_service_name }}.pid
ExecStartPre=/bin/rm -f /var/run/{{ jenkins_swarm_service_name }}.pid
ExecStart={{JAVA_HOME}}/bin/java \
  -jar {{ swarm_jar.dest }} \
  -master 'http://{{ jenkins_agent_master }}:{{ jenkins_agent_master_port }}' \
{% if jenkins_agent_jvm_args is defined %}
  {{ jenkins_agent_jvm_args|join(' ') }} \
{% endif %}
{% if jenkins_agent_username is defined %}
  -username '{{ jenkins_agent_username }}' \
{% endif %}
{% if jenkins_agent_password is defined %}
  -password '{{ jenkins_agent_password }}' \
{% endif %}
  -name '{{ jenkins_agent_name }}' \
{% if jenkins_agent_labels_file is defined %}
  -labelsFile '{{ jenkins_agent_labels_file }}' \
{% else %}
  -labels '{{ jenkins_agent_labels }}' \
{% endif %}
{% if jenkins_agent_mode is defined %}
  -mode '{{ jenkins_agent_mode }}' \
{% endif %}
{% if jenkins_agent_additional_args is defined %}
{% for arg in jenkins_agent_additional_args %}
  {{ arg }} \
{% endfor %}
{% endif %}
  -executors '{{ jenkins_agent_num_executors }}'
Restart=on-abort
##
[Install]
WantedBy=default.target
